{% extends 'base.html.twig' %}
{% block title %} About {% endblock %}
{% block body %}

<div class="bg-white mt-4 p-4 rounded">
    <h2 class="text-secondary">About</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique autem accusantium facilis ipsum ut deserunt doloremque dolorum ea. Repudiandae magnam sed explicabo exercitationem debitis ipsam tempora nulla saepe nemo dicta?</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique autem accusantium facilis ipsum ut deserunt doloremque dolorum ea. Repudiandae magnam sed explicabo exercitationem debitis ipsam tempora nulla saepe nemo dicta?</p>
</div>

{% endblock %}