{% extends 'base.html.twig' %}
{% block title %} About {% endblock %}
{% block body %}

<div class="bg-white mt-4 p-4 rounded row">
    <div class="col-md-10">
        <h2 class="text-secondary">{{ post.title }}</h2>
        <p class="text-secondary h6">Created by {{ post.author }}</p>
        <p>{{ post.description }}</p>
    </div>
    <div class="col-md-2 text-h6">
        
    </div>
</div>

<div class="my-4">
    <a href="{{ path('post.index') }}" class="btn btn-sm btn-outline-primary rounded-pill">Return back</a>
</div>
{% endblock %}