{% extends 'base.html.twig' %}
{% block title %} Update post {% endblock %}
{% block body %}
<div class="bg-white mt-4 p-4 rounded mx-auto" style="max-width:600px">
    <h2 class="text-secondary my-4">Update this post</h2>

    {{ form(form) }}

    {# <div class="d-flex align-items-center">
        <a href="{{ path('post.index') }}" class="btn btn-sm btn-outline-primary rounded-pill">Return back</a>
    </div> #}

</div>


{% endblock %}